.container-card {
    position: relative; /* para permitir que os seus componentes possam ficar na sua frente */

    border: 3px solid #3E4357;
    border-radius: 10px;
    width: 350px;
    height: 500px;

    display: flex;
    overflow: hidden; /* todo o conteúdo que exceder o card component será escondido */

    margin-top: 10px;
}

.container-card > img {
    min-width: 100%;
    min-height: 100%;
    transition: transform 0.8s;
}
.container-card > img:hover {
    transform: scale(1.1);
}