<a href="#" class="container-card">
    <img src="{{ gameCover }}" />

    <app-card-label
        gameLabel="{{ gameLabel }}"
    ></app-card-label>

    <app-card-pricing
        gameType="{{ gameType }}"
        gamePrice="{{ gamePrice }}"
    ></app-card-pricing>
</a>
