<div class="container-card-pricing">
    <div class="card-pricing-title">
        <h3>Play It Now!</h3>
    </div>
    <div class="card-pricing-value">
        <div class="card-pricing-value-console">
            <span>|</span>
            <p>{{ gameType }}</p>
        </div>

        <div class="card-pricing-value-price">
            <p>{{ gamePrice }}</p>
        </div>
    </div>
</div>
