.container-card-pricing {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;

    width: 100%;
    height: 70px;
    background-color: rgba(0,0,0,0.8);
    color: antiquewhite;
    font-family: 'Calibri', sans-serif;
    padding: 10px;
}

.card-pricing-title {
    margin-bottom: 3px;
}

.card-pricing-value {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-pricing-value-console {
    display: flex;
    flex-direction: row;
}
.card-pricing-value-console > span {
    font-weight: bolder;
    color: aqua;
    margin-right: 10px;
}