.container-card-label {
    position: absolute; /* fica na frente dos componentes com posição relativa (no caso: o componente card - pai) */

    bottom: 90px;
    right: 0;
}

.card-label-content {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #0d0d0dd6;
    color: #ddd;
    font-size: 12px;
    font-family: 'Segoe UI';
    font-weight: bold;
    height: 40px;
    padding: 0px 50px;
}