<div class="container-home">
    <app-card
        gameCover="assets/bt-1.jpg"
        gameLabel="Executive"
        gameType="XPTO PS4"
        gamePrice="R$ 259,99"
    ></app-card>

    <app-card
        gameCover="assets/bt-5.jpg"
        gameLabel="Digital"
        gameType="DIGITAL PS4"
        gamePrice="R$ 105,99"
    ></app-card>

    <app-card
        gameCover="assets/ac-cover.jpg"
        gameLabel="Digital"
        gameType="DISC PS5"
        gamePrice="R$ 305,99"
    ></app-card>

    <app-card
        gameCover="assets/bt-hardline.jpg"
        gameLabel="Exclusive"
        gameType="DIGITAL | PS5 PS4 PS3"
        gamePrice="R$ 85,99"
    ></app-card>

</div>
