<div class="container-menu-bar">
    <div class="menu-logo">
        <img src="../../../assets/ps-logo.png" alt="logo playstation store" width="140px" height="32px" />
    </div>
    <div class="menu-item">
        <ul>
            <li><a href="">YOUTUBE</a></li>
            <li><a href="">LINKEDIN</a></li>
            <li><a href="">GITHUB</a></li>
        </ul>
    </div>
</div>
