.container-menu-bar {
    display: flex;
    flex-direction: row;
    
    position: fixed;
    z-index: 999;
    background-color: #fff;
    width: 100%;
    height: fit-content;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
}

.menu-logo {
    margin-left: 30px;
    
    display: flex;
    align-items: center;
}

.menu-item {
    display: flex;
    align-items: center;

    margin: auto;
}
.menu-item > ul {
    display: flex;
    flex-direction: row;

    list-style-type: none;
}
.menu-item > ul > li {
    padding: 5px;
    margin-right: 15px;
}
.menu-item > ul > li > a {
    text-decoration: none;
    color: rgba(7,7,7,0.7);
    font-family: 'Segoe UI', sans-serif;
    padding: 5px;
    font-weight: 600;
}
.menu-item > ul > li > a:hover {
    font-weight: 700;
    transition: 0.9s linear ease-in-out;
    color: blue;
} 
